html,
* {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  outline: none;
  font-size: 16px;
  font-family: Helvetica;
}

button {
  border: 1px solid black;
  padding: 2px 4px;
}

#table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#table tr:hover {
  outline: 1px solid white;
}

#table tr td {
  white-space: nowrap;
  padding: 4px 8px;

  cursor: default;
}

#table tr th {
  text-align: left;
}

button:hover {
  border: 1px solid white;
}

img,
video {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#options {
  display: flex;
  flex-direction: row;
}

#path {
  font-size: 18px;
  font-weight: bold;
}

#info {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
}

#loading {
  display: none;
  text-align: center;
  width: 100%;
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

#grid div {
  width: auto;
  height: auto;
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
}

#grid div:hover {
  border: 1px solid white;
}

.size,
.btime,
.extension {
  color: #8f8f8f;
}

#grid div .filename,
#table tr .filename {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  #content {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: start;
  }
  .btime,
  .size,
  .extension {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  #content {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: start;
    padding: 64px;
  }
  #table tr td.btime {
    padding-right: 32px;
  }
  #table tr td.size {
    text-align: right;
  }
}

#table tr td.icon-container {
  width: 16px;
}

#table tr td .icon {
  height: 16px;
  width: auto;
}
