html,
* {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  outline: none;
}

body {
  font-family: Helvetica;
}

#content {
  padding: 64px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

#path {
  font-weight: bold;
  font-size: 20px;
}

#files button {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  border: 1px solid black;
  background-size: auto 90%;
  padding: 1px 0 1px 24px;
  background-position: 1px center;
}

#files button:hover {
  border: 1px solid white;
}

#files button.dotfile {
  color: gray;
}

#files plaintext {
  margin-bottom: 12px;
}

#options {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#options button {
  border: 1px solid black;
}

#options button:hover {
  border: 1px solid white;
}
